# Unix
*~

# Compiled
*.elc

# Packaging
.cask

# Everything Else
/**/*.swp
/**/.#*
/**/#*#
/**/*.dat
/**/*.data
ido*
auto-save-list
eshell
/**/*.eld
.DS_Store
tutorial
url
/.custom.el
/recentf
/games
/tramp
/.gnus.el
/server
/elpa/gnupg
/elpa/archives
/elpa/*.signed
/places
/startup.log
/workspace
/.mc-lists.el
/eclipse.jdt.ls
/.savehist
/session.*
/undo/*
/undo
transient
/.lsp-session-*
/.cache/
/elpa/dashboard-*/banners/99.txt
/bookmarks
/package-quickstart.el
