# Unix
*~

# Compiled
*.elc

# Packaging
.cask

# Everything Else
*.dat
*.data
ido*
auto-save-list
eshell
*.eld
.DS_Store
tutorial
url
/.custom.el
/recentf
games
/tramp
/.gnus.el
/server
/elpa/gnupg
/elpa/archives
/elpa/*.signed
/places
/startup.log
/workspace
/.mc-lists.el
/eclipse.jdt.ls/server/config_mac/org.eclipse.*
/eclipse.jdt.ls/server/config_linux/org.eclipse.*
/eclipse.jdt.ls/server/config_win/org.eclipse.*
/.savehist
session.*
undo/*
undo
