
;; environment specific values  -*- mode: Emacs-Lisp; -*-

;; setup user
(setq user-full-name "John H. Doe"
      user-mail-address "jhd@example.com"
      calendar-latitude 29.8724
      calendar-longitude -95.57
      calendar-location-name "Houston, TX")

;; set font on linux
(when (eq system-type 'gnu/linux)
  (setq-default line-spacing 6))

;; set font on windows
(when (or (eq system-type 'windows-nt)
          (eq system-type 'cygwin))
  (set-face-attribute 'default nil :family "Consolas" :height 110)
  (setq-default line-spacing 0.1))

;; set font on darwin
(when (eq system-type 'darwin)
  (set-face-attribute 'default nil :family "Monaco" :height 140)
  (setq-default line-spacing 0.1))

;; grab env path
(when (not (eq system-type 'windows-nt))
  (exec-path-from-shell-initialize))

;; setup frame display
(if (eq system-type 'darwin)
    (progn
      (add-to-list 'default-frame-alist '(undecorated . t))
      (add-hook 'after-make-frame-functions
                (lambda (frame) (set-frame-parameter frame 'fullscreen 'maximized)))
      (add-hook 'window-setup-hook #'toggle-frame-maximized))
  (add-hook 'window-setup-hook #'toggle-frame-fullscreen))

;; transparency
(transparency-set-value 100)

;; load theme
(if (display-graphic-p)
    (load-theme
     ;; 'badwolf
     ;; 'modus-vivendi
     ;; 'doom-dark+
     ;; 'doom-city-lights
     ;; 'doom-flatwhite
     ;; 'doom-homage-black
     ;; 'doom-gruvbox
     ;; 'doom-henna
     ;; 'doom-material
     ;; 'doom-miramare
     ;; 'doom-molokai
     ;; 'doom-monokai-classic
     ;; 'doom-monokai-pro
     ;; 'doom-monokai-spectrum
     ;; 'doom-moonlight
     ;; 'doom-nord
     ;; 'doom-nova
     'doom-oceanic-next
     ;; 'doom-old-hope
     ;; 'doom-opera
     ;; 'doom-outrun-electric
     ;; 'doom-palenight
     ;; 'doom-peacock
     ;; 'doom-plain-dark
     ;; 'doom-solarized-dark
     ;; 'doom-solarized-light
     ;; 'doom-sourcerer
     ;; 'doom-spacegrey
     ;; 'doom-tomorrow-day
     ;; 'doom-tomorrow-night
     ;; 'doom-vibrant
     ;; 'doom-wilmersdorf
     t))

;; set mode-line height
(setq moody-mode-line-height 23)

;; custom vars
(custom-set-variables
 ;; custom-set-variables was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 )

(custom-set-faces
 ;; custom-set-faces was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 )
